<h1 class='admin-font'> Guest Index Page</h1>

  <div class="guest-count">
      <div class="number-circle"><%= Guest.count %></div>responses.
  </div>
  <div class="guest-count">
  	  <div class="number-circle"><%= @head_count %></div>people attending.
  </div>

<table class='attendees'> 
	<th>Name</th>
	<th># Attending</th>
<% @alph_list.each do |g| %>
    <tr><td><%= "#{g.last_name}, #{g.first_name}"%></td><td><%="#{g.num_attending} attending" %></td></tr>
	<% end %>
</table>
	

	<h1 class='admin-font'> Guest Book Comment List</h1>
	
	<div>
		<ul class='guest-comments'>
		<% Comment.find(:all).each do |c| %>
			<li><span><%="#{c.guest.first_name} #{c.guest.last_name} writes:"%></span>
			<%= c.message %></li>
		<% end %>
		</ul>
	</div>	