<h1> Guest Index Page</h1>

<ul>
<% @alph_list.each do |g| %>
	<li><%= "#{g.last_name}, #{g.first_name}, #{g.num_attending} attending." %></li>
	<% end %>
</ul>

<p><%= Guest.count %> guests have responded.
	
<p><%= @head_count %> people attending.</p>
	
	
	____________
	<p>Guest Book Section...
	</p>
	<h2> Guest Book Comment List</h2>
	
	<div>
		<ul>
		<% Comment.find(:all).each do |c| %>
			<li><%="#{c.guest.first_name} #{c.guest.last_name} writes:"%>
			<%= c.message %></li>
		<% end %>
		</ul>
	</div>	