<ul>
	<li><%= link_to "Admin", guests_path %></li>
	<li><%= link_to "RSVP", new_guest_path %></li>
	<li><%= link_to "Guest Book", comments_path %></li>
	<li><%= link_to "Our Story", "/static_pages/our_story" %></li>
	<li><%= link_to "Registry", "/static_pages/registry" %></li>
	<li><%= link_to "Ceremony", "/static_pages/ceremony" %></li>
	
</ul>
	