<!DOCTYPE html>
<html>
<head>
  <title>KaraWedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
	      <% flash.each do |key, value| %>
	        <div class="alert alert"><%= value %></div>
	      <% end %></div>
	<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
